.card {
  $border: 1px solid #D4D4D4;

  display: flex;
  padding: 12px;
  border-top: $border;
  box-sizing: border-box;

  &__logo {
    flex-basis: 112px;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
  }

  &__logo-img {
    width: 100%;

    &--rounded {
      $size: 70px;
      border-radius: 50%;
      width: $size;
      height: $size;
      object-fit: contain;
    }
  }

  &__content {
    margin-left: 30px;
  }

  &__bold-size {
    font-weight: 700;
  }

  &__leave-comment {
    margin-left: auto;
    align-self: center;
  }

  &__arrow {
    &--closed {
      transform: rotate(-90deg);
    }
    &--opened {
      transform: rotate(90deg);
    }
  }
}

.content {
  display: grid;
  grid-template-rows: min-content;
  grid-gap: 8px;
  align-self: center;

  &__row {
    display: grid;
    grid-template-columns: 71px 1fr;
    grid-gap: 16px;

    font-size: 14px;
  }

  &__row-label {
    color: #7E7E7E;
    line-height: 18px;
  }
}
